@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}


.nopadding{
padding: 0 !important;
}

.nomargin{
  margin:0 !important;
}
.dvfooter{
  min-height: 500px;
}
.mb-4{
  margin-bottom: 4%;
}
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(36, 69, 68, 0.5);
    z-index: 1;
}

.imagen { 
  width: 150px;
  height: 150px;
  border-radius: 150px; 
  -webkit-border-radius: 150px; 
  -moz-border-radius: 150px; 
  background: url(../img/foto-de-perfil.jpg) 
  no-repeat; 
  box-shadow: 0 0 8px rgba(0, 0, 0, 1.0); 
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
}

.contenedor{ 
     background-color: rgb(255, 255, 255);
     -webkit-background-color: rgb(255, 255, 255); 
     -moz-background-color: rgb(255, 255, 255);
     padding: 5px; 
     width: 300px; 
     border-radius: 150px; 
     -webkit-border-radius: 150px; 
     -moz-border-radius: 150px; 
     box-shadow: 1px 1px 10px rgb(75, 75, 75);
    
}

.img-fluid{
  width: 100%;
  height: auto;
}

.card {
  position: relative;
  display: block;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.card-body, .card-footer {
  padding: 1.25rem;
}
.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
} 
.bg-dark {
   color: #f8f8f8;
    background-color: #343a40!important;
    
}

.foto {

float: left;
margin-top: 10px;
-webkit-transition: margin 0.3s ease-out;
-moz-transition: margin 0.3s ease-out;
-ms-transition: margin 0.3s ease-out;
transition: margin 0.3s ease-out;
}
.move .foto:hover {
margin-top: 4px;
}





<style type="text/css">
  body{
    /*height: 10000px;*/
    font-family: "Lato";
    background-color: #2980b9;
    padding:20px 30px;
    margin: 0px;
  }

  h1,h2,h3,h4{
    padding: 0px;
    margin: 0px;
  }

  .caption-style-1{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
  }

  .caption-style-1 li{
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
  }

  .caption-style-1 li:hover .caption{
    opacity: 1;

  }


  .caption-style-1 img{
    margin: 0px;
    padding: 10px;
    float: left;
    z-index: 4;
  }


  .caption-style-1 .caption{
    padding: 10px;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -webkit-transition:all 0.45s ease-in-out;
    -moz-transition:all 0.45s ease-in-out;
    -o-transition:all 0.45s ease-in-out;
    -ms-transition:all 0.45s ease-in-out;
    transition:all 0.45s ease-in-out;

  }
  .caption-style-1 .blur{

    background-color: rgba(0,0,0,0.65);
    height: 300px;
    width: 400px;
    z-index: 5;
    position: absolute;
  }

  .caption-style-1 .caption-text h1{
    text-transform: uppercase;
    font-size: 24px;
  }
  .caption-style-1 .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 400px;
    height: 300px;
    text-align: center;
    top:100px;
  }

  /** Nav Menu */
  ul.nav-menu{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    width: 510px;
    margin: 60px auto;
  }

  ul.nav-menu li{
    display: inline;
    margin-right: 10px;
    padding:10px;
    border: 1px solid #ddd;
  }

  ul.nav-menu li a{
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
  }

  ul.nav-menu li a:hover, ul.nav-menu li a.active{
    color: #2c3e50;
  } 

  /** content **/
  .content{
    margin-top: 100px;
    margin-left: 100px;
    width: 700px;
  }
  .content h1, .content h2{
    font-family: "Source Sans Pro",sans-serif;
    color: #ecf0f1;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
  }

  .content h1{
    font-weight: 900;
    font-size: 64px;
  }

  .content h2{
    font-size:26px;
  }

  .content p{
    color: #ecf0f1;
    font-family: "Lato";
    line-height: 28px;
    font-size: 15px;
    padding-top: 50px;
  }

  p.credit{
    padding-top: 20px;
    font-size: 12px;
  }

  p a{
    color: #ecf0f1;
  }

  /** fork icon**/
  .fork{
    position: absolute;
    top:0px;
    left: 0px;
  }

 
.navbar-inverse{
  background: rgb(67, 68, 70);
}

.content-section-a{
  background: rgb(181, 172, 154);
}

.content-section-b{
  background: rgb(145, 136, 119);
}
.colorb{
  color: #fff !important; 
}

/*perfil 1*/

*{
  margin: 0px;
  padding: 0px;
}

.nomargin{
  margin: 0px !important; 
}

.nopadding{
  padding: 0px !important;
}

.w100{
  width: 100%;
  height: auto;
  float: left;
}

@media (min-width: 0px) and (max-width: 767px){
  .pull-right{
    float: left !important; 
  }
}


@media (min-width: 768px){
  .w100{
      width: auto !important;
  }
}


.active > a{
  background: rgb(228, 224, 224) !important;
}

.navbar-nav > li:hover > a{
    background: rgb(228, 224, 224) !important;
}

.navbar-nav > li > a{
  color: rgb(6, 6, 6) !important;
}

.content-section-a{
  padding: 50px 0;
  background-color: rgb(251, 251, 251);
}

.content-section-b{
  padding: 50px 0;
  border-top: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
}

.img-fluid{
  width: 100%;
  height: auto;
}

.banner{
  padding: 100px 0;
  color: rgb(254, 254, 254);
  background: url(../img/banner-bg.jpg) no-repeat center;
  background-size: cover; 
}

.bg-dark{
  background: rgb(22, 22, 22);
  float: left;
  min-height: 150px;
  width: 100%;
  color: rgb(252, 250, 250) !important;
}
/*termina la configuracion de perfil1*/