@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}
.nopadding{
padding: 0 !important;
}

.nomargin{
  margin:0 !important;
}
.dvfooter{
  min-height: 500px;
}
.mb-4{
  margin-bottom: 4%;
}
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(36, 69, 68, 0.5);
    z-index: 1;
}

.imagen { 
  width: 150px;
  height: 150px;
  border-radius: 150px; 
  -webkit-border-radius: 150px; 
  -moz-border-radius: 150px; 
  background: url(../img/foto-de-perfil.jpg) 
  no-repeat; 
  box-shadow: 0 0 8px rgba(0, 0, 0, 1.0); 
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
}

.contenedor{ 
     background-color: rgb(255, 255, 255);
     -webkit-background-color: rgb(255, 255, 255); 
     -moz-background-color: rgb(255, 255, 255);
     padding: 5px; 
     width: 300px; 
     border-radius: 150px; 
     -webkit-border-radius: 150px; 
     -moz-border-radius: 150px; 
     box-shadow: 1px 1px 10px rgb(75, 75, 75);
    
}

.img-fluid{
  width: 100%;
  height: auto;
}

.card {
  position: relative;
  display: block;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.card-body, .card-footer {
  padding: 1.25rem;
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
} 
.bg-dark {
   color: #f8f8f8;
    background-color: #343a40!important;
    
}

.foto {

float: left;
margin-top: 10px;
-webkit-transition: margin 0.3s ease-out;
-moz-transition: margin 0.3s ease-out;
-ms-transition: margin 0.3s ease-out;
transition: margin 0.3s ease-out;
}
.move .foto:hover {
margin-top: 4px;
}
.gif{
  float: left;

}





.caption-style-3 {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.caption-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 400px;
    height: 300px;
    text-align: center;
    top: 20px;
}
.blur {
    background-color: rgba(142, 68, 173,0.95);
    height: 300px;
    width: 400px;
    z-index: 5;
    position: absolute;
}
.caption {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 300px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}



